

* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

body{
  background-color: #181830;
  
}

nav {
  /* background-color: #cc0033; */
  background: linear-gradient(90deg,#cc1020,#164080);
  height: 70px; 
  position: fixed;
  width: 100%;
  z-index: 200;
}

.nav-left {
  float: left; 
  margin-left: 5%;
  line-height: 70px;
}

.nav-right {
  float: right;
  margin-right: 5%;
  line-height: 70px; 
}

.nav-left a,
.nav-right a{
  color: #f0f0f0;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
} 
.nav-left a:hover,
.nav-right a:hover{
  color: #fbc440;
  transition: all 250ms ease-in-out;
}

.nav-right-item{
  list-style: none;
  float: left;
  margin: 0 20px;
  position: relative;
}
/* left=0,hover left=50%即可从中间开始变化 */
.nav-right a:hover:after{
  width: 100%;
  transition: all 0.3s ease;
  background-color: #fbc440;
  left: 0;
}

.nav-right-item a:after{
  content: '';
  height: 2px;
  width: 0;
  /* background-color: #fff; */
  display: block;
  position: absolute;
  top: 55.5px;
  left: 50%;  
}

#welcome-section{
  height: 1000px;
  width: 100%;
  /* background-color: #500500; */
  background: linear-gradient(0deg,#181733 10%,rgba(173,16,40,.5));
  /* background: linear-gradient(0deg,#181733 0,#181733 30%); */
}

#welcome-section h1{
    font-size: 8rem;
    font-weight: 600;
    /* 加上这个才居中？ */
    padding-top: 100px;
}

#welcome-section p{
    text-align: center;
    font-size: 3rem;
    color: #181717;
    opacity: 70%;    
}

#skill-section{
  margin-top: 200px;
  margin-bottom: 400px;
  /* #154284 */
  background: linear-gradient(90deg,#cd122d,#154284);
  border-radius: 5px;
}

#skill-section .skills{
 padding: 0 16px;
 text-align: center;
}

#skill-section .skills .skill{
  cursor: pointer;
  background-color: #fff;
  list-style: none;
  margin: 20px auto;
  padding: 14px;
  border-radius: 4%;
  transition: 250ms transform ease-in-out;
}

#skill-section .skills .skill:hover{
  transform: translateY(-5px);
  transition: 250ms transform ease-in-out;
}

#skill-section ul li h3{
  display: block;
  font-size: 1rem;
  color: #154284;
  color: #cd122d;
  font-weight: 600;
  color: #000000;
}

#projects{
  height: 100vh;
  width: 100%;
  /* background-color: #154284; */
  background-color: #181733;
  /* background: linear-gradient(0deg,#181733 30%,#181733 0); */
}

#projects h2{
  height: 100px;
  width: 400px;
  font-size: 3rem;
  font-weight: 700;
  /* text-align: center; */
  margin: 0 auto;
  line-height: 100px;
  color: #f0f0f0;
}

#projects h2:hover{
  color: #fbc440;
  cursor: pointer;
}

#projects div{  
  margin-top: 3%;
  /* height: 300px; */
  background-color: #181733;
  /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); */
}

#projects div img{  
  width: 97%;
  height: 300px;
}

#projects div .project:hover{
  border: 2px solid #580404;
  border-radius: 5px;
}

#projects div .project:hover p{
  border-top: none;
  color: #580404;
}

#projects div p{
  display: inline-block;
  width: 100%;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 5px 0;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #f0f0f0;
  text-align: center;
  background-color:  #181733;
  border-top: 1px solid #262b47;
}

#projects div p:hover{
  /* color: #fbc440; #886828*/
  color: #580404;
  cursor: pointer;
}

#projects .project{
  padding-top: 10px; 
  /* color */
  /* background-color: #cc1020; #154284 rgba(154,0,11,.9)*/
  text-align: center;
  /*  #cc1020 */
  /* border: 2px solid rgb(50, 2, 160); */
  border: 2px solid #2d3458;  
}

#contact{
  width: 100%;
  background-color: #000000;
  color: #f0f0f0;
}

#contact h2{
  text-align: center;
  font-weight: 700;
  padding-top: 20px;
}

#contact .contact-text{
  position: relative;
}

#contact .contact-text input{
  text-indent:46px;
}

::placeholder{
  font-weight:900;
  font-size: 1rem;
}

.container{
  position: relative;
}

.contact-text .form-select{
  width: 100%;
  height: 3rem;
  outline: none;
  border-radius: 0;
  cursor: pointer;
  font-weight: 700;
}

.contact-text .form-select option{
  font-weight: 700;
  /* padding: 0.375rem 1.75rem 0.375rem 0.75rem; */
}

.form-select:focus{
  border: #000000;
}
/*  
#contact .contact-text ul{
  position: absolute;
  top: 87px;
  padding-left: 0px;
  width: 100%;
  z-index: 100;
  height: 132px;
  overflow-y: scroll;
  overflow-y: overlay;
}
#contact .contact-text ul li{
  color: #000000;
  background-color: #fff;
  list-style: none;  
  font-size: 1rem;
  height: 44px;
  line-height: 44px;
  border-bottom: 1px solid #ddd;
  padding-left: 20px;
}
*/

/* #contact .bi-caret-down-fill{ 
  position: absolute;
  top: 57%;
  left: 6%;
  color:#000000;
  size: 5rem;
}*/

#contact .contact-text .bi-person-fill{
  position: absolute;
  top: 57%;
  left: 4%;
  color:#000000;
}

#contact .contact-text .bi-telephone-fill{
  position: absolute;
  top: 57%;
  left: 4%;
  color:#000000;
}

#contact .contact-text .bi-envelope-fill{
  position: absolute;
  top: 57%;
  left: 4%;
  color:#000000;
}

#contact form label{
  font-weight: 700;
  display: block;
  margin-top: 15px;
}

#contact form input{
  width: 100%;
  height: 3rem;
  outline: none;  
}

#contact form .message{
  font-size: 2rem;
  margin-left: 60px;
}

#contact .contact-text .bi-chat-dots{
  position: absolute;
  left: 0;
  top: 2.5%;
}

#contact form textarea{
  outline: none;
}

#contact form .contact-button{ 
  background-color: #cd122d;
  /* background: linear-gradient(270deg,#154284,#cd122d); */
  /* background: linear-gradient(90deg,#cc1029,#163880); */
  color: #f0f0f0;
  font-size: 1.5rem;
  font-weight: 900;
  width: 200px;
  margin: 50px auto;
  border-color: #1b1515;
  box-shadow: 0 0.1rem 0.1rem 0 rgba(0,0,0,.5);
}

#contact form .contact-button:hover{
  animation-duration: 2s;
  background: linear-gradient(270deg,#154284,#cd122d);  
  box-shadow: 0 0.1rem 0.4rem 0 rgba(0,0,0,.5);
  transform: translateY(.1rem);
  /* transition: all 500ms ease-in-out; */
}

.contact-links{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.contact-links a{
  text-decoration: none;  
  color:#888888 ;
  /* color: #c8c8c8;   */
  margin:0 2%;
}

.contact-links a:hover{
  transform: translateY(-4px);
  color: #f0f0f0;
  transition: all 250ms ease-in-out;
}

footer{
  width: 100%;
  background-color: #000000;   
}

footer p{
  color: #f0f0f0;
  background: linear-gradient(90deg,#cc1020,#164080);
  padding-left: 2%;
  margin-bottom: 0;
}

/*# sourceMappingURL=index.css.map */
