

* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

body{
  background-color: #181830;
  
}

nav {
  /* background-color: #cc0033; */
  background: linear-gradient(90deg,#cc1020,#164080);
  height: 70px; 
}

.nav-left {
  float: left; 
  margin-left: 5%;
  line-height: 70px;
}

.nav-right {
  float: right;
  margin-right: 5%;
  line-height: 70px; 
}

.nav-left a,
.nav-right a{
  color: #f0f0f0;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
} 
.nav-left a:hover,
.nav-right a:hover{
  color: #fbc440;
}

.nav-right-item{
  list-style: none;
  float: left;
  margin: 0 20px;
}

#welcome-section{
  height: 700px;
  width: 100%;
  background-color: #500500;
}

#welcome-section h1{
    font-size: 8rem;
    font-weight: 600;
    /* 加上这个才居中？ */
    padding-top: 100px;
}

#welcome-section p{
    text-align: center;
    font-size: 3rem;
    color: #181717;
    opacity: 70%;
    
}

#projects{
  height: 100vh;
  width: 100%;
  /* background-color: #154284; */
  background-color: #181733;
}

#projects h2{
  height: 100px;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  line-height: 100px;
  color: #f0f0f0;
}

#projects h2:hover{
  color: #fbc440;
  cursor: pointer;
}

#projects div{  
  margin-top: 7%;
  height: 300px;
  background-color: #181733;
  /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); */
}

#projects div img{  
  width: 80%;
  height: 300px;
}

#projects div img:hover{
  border: 2px solid #fbc440;
}

#projects div p{
  width: 80%;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 5px 0;
  margin-top: 10px;
  color: #f0f0f0;
  text-align: center;
  background-color:  #181733;
}

#projects div p:hover{
  color: #fbc440;
  cursor: pointer;
}

#contact{
  height: ;
  width: 100%;
  background-color: #000000;
  color: #f0f0f0;
}

#contact h2{
  text-align: center;
  font-weight: 700;
  padding-top: 20px;
}

#contact .contact-text{
  position: relative;
}

#contact .contact-text .bi-caret-down-fill{
  position: absolute;
  top: 57%;
  left: 4%;
  color:#000000;
  size: 5rem;
}

#contact .contact-text .bi-person-fill{
  position: absolute;
  top: 57%;
  left: 4%;
  color:#000000;
}

#contact .contact-text .bi-telephone-fill{
  position: absolute;
  top: 57%;
  left: 4%;
  color:#000000;
}

#contact .contact-text .bi-envelope-fill{
  position: absolute;
  top: 57%;
  left: 4%;
  color:#000000;
}

#contact form label{
  font-weight: 700;
  display: block;
  margin-top: 15px;
}

#contact form input{
  width: 100%;
  height: 3rem;
  outline: none;  
}

#contact form .message{
  font-size: 2rem;
  margin-left: 60px;
}

#contact .contact-text .bi-chat-dots{
  position: absolute;
  left: 0;
  top: 2.5%;
}

#contact form textarea{
  outline: none;
}

#contact form .contact-button{ 
  background-color: #cd122d;
  /* background: linear-gradient(270deg,#154284,#cd122d); */
  /* background: linear-gradient(90deg,#cc1029,#163880); */
  color: #f0f0f0;
  font-size: 1.5rem;
  font-weight: 900;
  width: 200px;
  margin: 50px auto;
  border-color: #1b1515;
  box-shadow: 0 0.1rem 0.1rem 0 rgba(0,0,0,.5);
}

#contact form .contact-button:hover{
  background: linear-gradient(270deg,#154284,#cd122d);  
}


footer{
  width: 100%;
  background-color: #000000;
     
}

/*# sourceMappingURL=index.css.map */
